body {
	margin: 0;
	padding: 0;
	font: 16px/1.6 Georgia, "Times New Roman", Times, serif;
}

.container {
	width: 90%;
	max-width: 970px;
	margin: 50px auto; /*centrem el contingut horitzontalment*/
}

footer {
	border-top: 1px solid #CD440B;
}

footer p {
	font-size: 0.8em;
	text-align:center;
}

h1 {
	background-color: aqua;
	font-size: 3em;
	color: #000000;
	margin:0;
	text-align: center;
}

h2 {
	background-color: #CD440B;
	font-size: 2em;
	text-transform:capitalize;
	color: #fbff00;
	text-align: right;
}

p {
	font-size: 1.1em;
	text-align: justify;
}

p.intro {
	background-color: deeppink;
	font-size: 1em;
	font-weight: bold;
}

.meta {
	color: #4F759B;
	font-weight: bold;
	text-align: right;
	font-size: 1.3em;
}

time {
	font-weight: normal;
	font-style: italic;
}

abbr {
	text-decoration: none;
	font-style: italic;
}
footer abbr {
	font-style: normal;
}

q, .autor{
   	color:#02eef7;
}

cite {
	font-weight: bold;
}

blockquote{
	margin:2em;
	width:70%;
	line-height:2.2em;
	font-family:sans-serif;
}

blockquote p:before { content: open-quote; font-size: 2em; color: rgb(255, 0, 0);}
blockquote p:after  { content: close-quote; font-size: 2em; color: rgb(255, 0, 170);}



